substitutions:
  hostname: ev-switch
  entity_name: EV Switch
  voltage_ref: 15873
  current_ref: 251213
  power_ref: 596
  energy_ref: 3304

esphome:
  name: ${hostname}
  comment: EV Switch
  project:
    name: valletw.esp-ev-switch
    version: 1.0.0

esp32:
  variant: esp32c3
  flash_size: 4MB
  framework:
    type: esp-idf
    version: recommended

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  output_power: 17dB
  fast_connect: On
  ap:
    ssid: !secret wifi_fb_ssid
    password: !secret wifi_fb_password

captive_portal:

ota:
  - platform: esphome
    password: !secret ota_password

api:
  encryption:
    key: !secret api_key

logger:
  level: DEBUG

globals:
  - id: last_toggle_time
    type: unsigned long
    restore_value: no
    initial_value: '0'

status_led:
  pin:
    number: GPIO8
    ignore_strapping_warning: true

output:
  - platform: gpio
    id: charge_status
    pin:
      number: GPIO2
      ignore_strapping_warning: true

uart:
  id: uart1_bus
  tx_pin: GPIO21
  rx_pin: GPIO20
  baud_rate: 4800
  parity: NONE
  stop_bits: 1

switch:
  - platform: gpio
    id: relay_on
    internal: true
    pin: GPIO0
    restore_mode: ALWAYS_OFF

  - platform: gpio
    id: cp_on
    internal: true
    pin: GPIO1
    restore_mode: ALWAYS_OFF

  - platform: gpio
    id: pp_on
    internal: true
    pin: GPIO3
    restore_mode: ALWAYS_OFF

  - platform: template
    name: ${entity_name} Activate
    icon: mdi:ev-station
    optimistic: true
    lambda: return id(relay_on).state;
    on_turn_on:
      - script.execute: ev_start
    on_turn_off:
      - script.execute: ev_stop

sensor:
  - platform: wifi_signal
    name: "WiFi RSSI"
    update_interval: 60s

  - platform: bl0942
    uart_id: uart1_bus
    update_interval: 15s
    current:
      name: ${entity_name} Current
      accuracy_decimals: 2
    voltage:
      name: ${entity_name} Voltage
      accuracy_decimals: 2
    power:
      name: ${entity_name} Power
      accuracy_decimals: 2
      filters:
        multiply: 1
    energy:
      name: ${entity_name} Energy
      accuracy_decimals: 2
    frequency:
      name: ${entity_name} Frequency
      accuracy_decimals: 2
    voltage_reference: ${voltage_ref}
    current_reference: ${current_ref}
    power_reference: ${power_ref}
    energy_reference: ${energy_ref}

button:
  - platform: restart
    name: Restart controller

script:
  - id: ev_start
    mode: single
    then:
      - lambda: |-
          unsigned long now = millis();
          if (now - id(last_toggle_time) < 30000) {
            ESP_LOGW("EV", "Security delay, wait for start");
            return;
          }
          id(last_toggle_time) = now;
      - logger.log: "EV start"
      - output.turn_on: charge_status
      - switch.turn_on: relay_on
      - delay: 300ms
      - switch.turn_on: cp_on
      - delay: 200ms
      - switch.turn_on: pp_on
      - logger.log: "EV ON"

  - id: ev_stop
    mode: single
    then:
      - lambda: |-
          unsigned long now = millis();
          if (now - id(last_toggle_time) < 30000) {
            ESP_LOGW("EV", "Security delay, wait for stop");
            return;
          }
          id(last_toggle_time) = now;
      - logger.log: "EV stop"
      - switch.turn_off: pp_on
      - delay: 5s
      - switch.turn_off: cp_on
      - delay: 1s
      - switch.turn_off: relay_on
      - output.turn_off: charge_status
      - logger.log: "EV OFF"
